<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="UserName" value="Your Username Here" />
    <add key="Domain" value="Your Domain Here" />
    <add key="TargetExe" value=".\DisplayUserName.exe" />
    <add key="Params" value="-a -b" />
  </appSettings>
</configuration>